// レイアウト幅
$layout-width-inner: 1600px;

// ブレークポイント
$breakpoints: (
  "ip": "screen and (max-width: 480px)",
  "sp": "screen and (max-width: 767px)",
  "tab": "screen and (max-width: 1024px)",
  "pc": "screen and (max-width: #{$layout-width-inner})",
);

// メディアクエリー
@mixin mq($breakpoint: sp) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}


html {
	font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
	overflow-wrap: break-word;
}

img {
	width: 100%;
	height: 100%;
}
small {
	color: #fff;
}
.wrap {
	overflow: hidden;
}